<div class="">
	<div class="row">
		<div class="col s12 m12 l6">
			<div class="row">
				<div class="col s12 m12 l12">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d126115.11523351159!2d38.7781448!3d8.96317685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2set!4v1498391871412" width="634" height="430" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div class="col s12 m12 l6">
					<div class="card z-depth-0">
						<div class="card-content black-text">
							<ul>
								<li><i class="material-icons">email</i><%= @business.business_email%></li>
								<li><i class="material-icons">phone</i><%= @business.mobile_number%></li>
								<li><i class="material-icons">label</i><%= @business.business_catagory%></li>
								<li><i class="material-icons">location_on</i><%= @business.business_address%></li>
								<li><%=link_to "contact owner", "#", class: "btn black"%></li>
							</ul>
						</div>
					</div>
				
				</div>
			</div>
			
			
		</div>
		<div class="col.s12.m12.l6">
			<span><%= @business.business_name%></span><span style="visibility: hidden;">x</span> 
			<%if current_user%>
				<%= link_to("Edit Business", edit_business_path , class: "btn #212121 grey darken-4") %>
			<%else%>
				<%= link_to("Write A Review", new_business_review_path(@business) , class: "btn #212121 grey darken-4") %>
			<%end%>
			 <br><br>
			<%= image_tag @business.business_photo_url, size:"250x250", class: "responsive-img"%>
			<p><%= @business.business_description%></p>
				
			
		</div>
	</div>
</div>


<div class="col-md-12">
	<div class="reviews">
		<h1> Reviews </h1>
		<%= render @business.reviews %>
	</div>
</div>

	<% @business.reviews.each do |review| %>
		<div class="col s12 m7">
    
	    <div class="card horizontal">
	      <div class="card-image">
	      	<%= review.user.user_profile.try(:avatar_url) %>
	      	
	      </div>
	      <div class="card-stacked">
	        <div class="card-content">
	          <p><%= review.ratting%></p><br>
	          <p><%= review.comment%></p>
	        </div>
	        <div class="card-action">
	          <a href="#">This is a link</a>
	        </div>
	      </div>
	    </div>
	  </div>
	<%end%>







<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>