<nav>
  <div class="nav-wrapper">
  	<a href="#" data-activates="mobile-demo" class="button-collapse show-on-large" data-turbolinks="false"><i class="material-icons">menu</i></a>
    <%= link_to(image_tag("small_logo", :alt => "logo",size: "150x60"), root_path, class: "brand-logo center responsive-img")%>
    
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><%= link_to "Write a Review", "#"%></li>
      <li><%= link_to "Events", "#"  %></li>
      <li><%= link_to "Vacancy", "#"  %></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to("Home", root_path)%></li>
      <li><%= link_to("Sign Up", new_user_registration_path)%></li>
      <li><%= link_to("Login", new_user_session_path)%></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><%= link_to "Write a Review", "#"%></li>
      <li><%= link_to "Events", "#"  %></li>
      <li><%= link_to "Vacancy", "#"  %></li>
      <li><%= link_to "Write a Review", "#"%></li>
      <li><%= link_to("Sign Up", new_user_registration_path)%></li>
      <li><%= link_to("Login", new_user_session_path)%></li>
    </ul>
  </div>
      
</nav>
