<!DOCTYPE html>
<html>
  <head>
    <title>Dejaf <%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="#e8f5e9 green lighten-5">
    <header>
      <% if !current_page?(new_user_registration_path) &&  !current_page?(new_user_session_path) &&  !current_page?(new_user_profile_path)%>
          <%= render '/layouts/main_nav'%>
      <% end %>
    </header>
    <main>
        <section class="message">
            <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        </section>
        <section class="main-section">
            <%= yield %>
        </section>
      <% if !current_page?(new_user_registration_path) &&  !current_page?(new_user_session_path) &&  !current_page?(new_user_profile_path) && user_signed_in?%>
        <%= render '/layouts/fab'%>
      <% end %>
      
      
    </main>
    <% if !current_page?(new_user_registration_path) &&  !current_page?(new_user_session_path) &&  !current_page?(new_user_profile_path )%>
      <footer>
        <%= render '/layouts/footer'%>
      </footer>
    <% end %>

  </body>
</html>
